---
layout: default
permalink: /en/
ref: index
lang: en
roadmap:
  - year: 2017
    tag: slide-1
    image_url: team.jpeg
    caption: Project started, development commences
    pos: left
  - year: 2018
    tag: slide-2
    image_url: 2-ion.jpg
    caption: A signle ytterbium ion is trapped and laser cooled
    pos: right
  - year: 2018
    tag: slide-3
    image_url: prototype.png
    caption: A model of an optical clock is developed (photo from "Photonics-2018")
    pos: right
  - year: 2019
    tag: slide-4
    image_url: clock_line_eng.png
    caption: First spectroscopy of a Fourier-limited clock transition line
    pos: left
  - year: 2019
    tag: slide-5
    image_url: full-system.jpg
    caption: Transportable optical clock assembled and ready
    pos: right
  - year: 2020
    tag: slide-6
    image_url: team-with-borch.jpeg
    caption: Demonstration of the setup at Russian Space Systems
    pos: right
---

<div class="copy-banner">
  <div class="container">

    <h1 class="visuallyhidden">YBIS</h1>
    <h1>
      <em>Transportable</em> optical clock based on a single
      <em>ytterbium</em> ion
    </h1>


  </div>
</div>
<div id="billboard"></div>

<div class="container sidebar-right">
  <div role="main">
    <div class="section">
      <section>
        <div class="container">
            <div class="carousel">
              {% for item in page.roadmap %}
                <input type="radio" name="slides"{% if item.tag=="slide-1" %} checked="checked"{% endif %}  id="{{item.tag}}">
              {% endfor %}
              <ul class="carousel__slides">
                {% for item in page.roadmap %}
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img src="/img/{{item.image_url}}" alt="">
                        </div>
                        <figcaption>
                            {{item.caption}}
                            <span class="credit">{{item.year}}</span>
                        </figcaption>
                    </figure>
                </li>
                {% endfor %}
              </ul>    
                <ul class="carousel__thumbnails">
                    {% for item in page.roadmap %}
                    {% capture url %}{{ item.image_url }}{% endcapture %}
                		{% assign split_url = url | split: '.' %}
                		{% capture thumb_url %}{{split_url[0]}}-thumb.{{split_url[1]}}{% endcapture %}
                    <li>
                      <label for={{item.tag}}>
                        <img src="/img/{{thumb_url}}" alt="">
                      </label>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
      <h1>Overview</h1>
      <p>
        In order to promote scientific and industrial complex of Russia,
        Ministry of Education and Science of the Russian Federation has supported
        the development of transportable optical clocks: project "YBIS"
      </p>
      <p>
        Project "YBIS" started in October 2017 when leading research centres of Russia
        have joined their forces: LPI RAS (Moscow), Institute of Laser Physics
        (Novosibirsk), Skoltech (Moscow), Avesta (Moscow).
        JSC "Russian Space Systems" is the industrial partner.
      </p>
      <p>
        "YBIS" is to bring huge potential of quantum technology being developed all
        over the world to our everyday life and practical use. It includes but
        not limited to: Satellite navigation, deep space exploration, measuring
        the change of the world Ocean level and Earth crust displacement.
      </p>
      <dl class="list-features">
        <dt><i class="icon icon-compass"></i>Geopositioning</dt>
      	<dd>
      	  <p>
            Current global navigational satellite systems have the precision of
            about 1 m. Increasing this precision would require the improvement of
            these systems' key elements &mdash; ground and on-board frequency
            standards.
          </p>
      	</dd>
        <dt><i class="icon icon-clock-o"></i>Frequency standards</dt>
      	<dd>
      	  <p>
            Nowadays all global navigational satellite systems use radio
            frequency standards that work in a microwave region. Using state of
            the art optical frequency standards we can transfer them to an optical
            domain, thus increasing the precision.
          </p>
      	</dd>
        <dt><i class="icon icon-check"></i>Ytterbium</dt>
      	<dd>
      	  <p>
            The world best optical frequency standards are based on ytterbium ions,
            aluminium ions, ytterbium atoms, and strontium atoms. The "YBIS"
            project chooses ytterbium ions for the transportable optical clocks.
          </p>
      	</dd>
      </dl>

        <a href={{"/details" | prepend: page.lang | relative_url}}
        class="cta outline">
          Learn more about the project
        </a>
    </div>
    <!-- END #content-secondary -->
    <a href="#top" class="backtotop"><i class="icon icon-chevron-up"></i>To the top</a>
  </div>
  <div role="complementary">
    <h1>Interesting fact</h1>
    <p id="fact">
      If you allow your browser to use Javascript on this page, you would see
      other interesting facts
    </p>
  </div>
</div>
<div role="contentinfo">
  <div class="subfooter">
    <div class="container">
      <h1 class="visuallyhidden">Empty</h1>
    </div>
  </div>
</div>
