<div role="contentinfo">
  <div class="subfooter">
    <div class="container">
      <h1 class="visuallyhidden">Ссылки</h1>

    </div>
  </div>

  <div class="footer">
    <div class="container">
      <div class="footer-logo">
        <a class="logo" href={{site.baseurl}}>Иттербий</a>
      </div>

      <ul class="спасибо">
        <li>
          Работа выполнена при финансовой поддержке Министерства образования и
          науки Российской Федерации<br>(Соглашение №14.610.21.0010, Уникальный
          идентификатор проекта RFMEFI61017X0010)
        </li>

        <li>
          <span>Hosting by</span>
          <a class="github" href="https://pages.github.com/">GitHub Pages</a>
        </li>
        <li>
          <span>email: </span>
          <a href="mailto:info@ytterbium.space">info@ytterbium.space</a>
        </li>
      </ul>

      <!-- Yandex.Metrika informer -->
      <a href="https://metrica.yandex.com/dashboard?id=46558653">
        <img src="https://informer.yandex.ru/informer/46558653/3_0_86EC20FF_66CC00FF_0_pageviews"
             style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика"
             title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и
                    уникальные посетители)"
             class="ym-advanced-informer"
             data-cid="46558653"
             data-lang="ru"
        />
      </a>
      <!-- /Yandex.Metrika informer -->
      <div id="sfcp4c6lyuzltw4zc97qhr99apgr7xkth1c"></div>
      <script type="text/javascript" src="https://counter8.freecounter.ovh/private/counter.js?c=p4c6lyuzltw4zc97qhr99apgr7xkth1c&down=async" async></script>
      <noscript><a href="https://www.freecounterstat.com" title="website counter"><img src="https://counter8.freecounter.ovh/private/freecounterstat.php?c=p4c6lyuzltw4zc97qhr99apgr7xkth1c" border="0" title="website counter" alt="website counter"></a></noscript>
    </div>
  </div>

</div>
