<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.title[page.lang] | append: "|" | append: site.description[page.lang] }}</title>
  <meta name="ROBOTS" content="ALL" />
  <meta http-equiv="imagetoolbar" content="no" />
  <meta name="MSSmartTagsPreventParsing" content="true" />

  <meta name="keywords" content={{ site.keywords[page.lang] }} />
  <meta name="description">Иттербиевый&nbsp;Бортовой Ионный&nbsp;Стандарт</meta>

  <link rel="stylesheet" href="/css/main.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | relative_url}}">
  {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}{% for page in pages %}
  <link rel="alternate" hreflang="{{ page.lang }}" href="{{ page.url }}" />{% endfor %}

  <!-- Favicons -->
    <link rel="apple-touch-icon" href="/img/yb-green.png">
    <link rel="icon" sizes="192x192" href="/img/yb-green.png">
    <link rel="shortcut icon" href="/img/yb-green.png">
    <meta name="msapplication-TileColor" content="#113228">
    <meta name="msapplication-TileImage" content="/img/yb-white.png">
  <!-- /Favicons -->

  <script src="/js/lib/webfontloader/webfontloader.js"></script>
  <script>
    WebFont.load({
      custom: {
        families: ['FontAwesome', 'Fira+Mono'],
      },
      google: {
        families: ['Roboto:400italic,700italic,300,700,400:latin'
        ]
      },
      classes: false,
      events: false,
      timeout: 1000
    });
  </script>
  <script src="/js/lib/modernizr.js"></script>
</head>
