<div role="banner" id="top">
  <div class="container">
    <a class="logo" href={{ page.lang | relative_url}}>
      {{site.title[page.lang]}}
    </a>
    <p class="meta">{{site.description[page.lang]}}</p>
    <div role="navigation">
      <ul>
        <li {% if page.ref == "details" %}class="active"{% endif %}>
          <a href={{"/details" | prepend: page.lang | relative_url}}>
            {% if page.lang == "ru" %}
              О проекте
            {% else %}
              About
            {% endif %}
          </a>
        </li>
        <li {% if page.ref == "partners" %}class="active"{% endif %}>
          <a href={{"/partners" | prepend: page.lang | relative_url}}>
            {% if page.lang == "ru" %}
              Партнёры
            {% else %}
              Partners
            {% endif %}
          </a>
        </li>
        <li {% if page.ref == "about" %}class="active"{% endif %}>
          <a href={{"/about" | prepend: page.lang | relative_url}}>
            {% if page.lang == "ru" %}
              О нас
            {% else %}
              About us
            {% endif %}
          </a>
        </li>
        <li {% if page.ref == "gallery" %}class="active"{% endif %}>
          <a href={{"/gallery" | prepend: page.lang | relative_url}}>
            {% if page.lang == "ru" %}
              Галерея
            {% else %}
              Gallery
            {% endif %}
          </a>
        </li>
        <li {% if page.ref == "results" %}class="active"{% endif %}>
          <a href={{"/results" | prepend: page.lang | relative_url}}>
            {% if page.lang == "ru" %}
              Результаты
            {% else %}
              Results
            {% endif %}
          </a>
        </li>
        <li {% if page.ref == "publications" %}class="active"{% endif %}>
          <a href={{"/publications" | prepend: page.lang | relative_url}}>
            {% if page.lang == "ru" %}
              Публикации
            {% else %}
              Publications
            {% endif %}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
