---
layout: default
ref: index
lang: ru
permalink: /ru/
roadmap:
  - year: 2017
    tag: slide-1
    image_url: team.jpeg
    caption: Проект поддержан, начало разработок
    pos: left
  - year: 2018
    tag: slide-2
    image_url: 2-ion.jpg
    caption: Захват и охлаждение одиночного иона иттербия
    pos: right
  - year: 2018
    tag: slide-3
    image_url: prototype.png
    caption: Разработан макет оптических часов (фотография стенда проекта на выставке "Фотоника-2018")
    pos: right
  - year: 2019
    tag: slide-4
    image_url: clock_line_rus.png
    caption: Первая спектроскопия Фурье-ограниченного контура часового перехода
    pos: left
  - year: 2019
    tag: slide-5
    image_url: full-system.jpg
    caption: Компактные оптические часы в сборе, готовы к транспортировке
    pos: right
  - year: 2020
    tag: slide-6
    image_url: team-with-borch.jpeg
    caption: Демонстрация работы ЭО БОРЧ в Российских космических системах
    pos: right
---


<div class="copy-banner">
  <div class="container">

    <h1 class="visuallyhidden">ИБИС</h1>
    <h1>
      Создание <em>транспортируемых оптических</em> часов на одиночном ионе
      <em>иттербия</em>
    </h1>


  </div>
</div>
<div id="billboard"></div>

<div class="container sidebar-right">
  <div role="main">
    <div class="section">
      <section>
        <div class="container">
            <div class="carousel">
              {% for item in page.roadmap %}
                <input type="radio" name="slides"{% if item.tag=="slide-1" %} checked="checked"{% endif %}  id="{{item.tag}}">
              {% endfor %}
              <ul class="carousel__slides">
                {% for item in page.roadmap %}
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img src="/img/{{item.image_url}}" alt="">
                        </div>
                        <figcaption>
                            {{item.caption}}
                            <span class="credit">{{item.year}}</span>
                        </figcaption>
                    </figure>
                </li>
                {% endfor %}
              </ul>    
                <ul class="carousel__thumbnails">
                    {% for item in page.roadmap %}
                    {% capture url %}{{ item.image_url }}{% endcapture %}
                		{% assign split_url = url | split: '.' %}
                		{% capture thumb_url %}{{split_url[0]}}-thumb.{{split_url[1]}}{% endcapture %}
                    <li>
                      <label for={{item.tag}}>
                        <img src="/img/{{thumb_url}}" alt="">
                      </label>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
      
      <h1>Краткая информация</h1>
      <p>
        Одним из проектов в области исследований и разработок по приоритетным
        направлениям развития научно-технического комплекса России, поддержанных
        Министерством образования и науки РФ, является проект по созданию
        транспортируемых оптических часов на одиночном ионе.
      </p>
      <p>
        Проект «ИБИС» начался в октябре 2017 года. Для работы над ним образован
        консорциум ведущих научных центров страны: ФИАН (Москва), ИЛФ (Новосибирск),
        Сколтех (Москва), Авеста (Москва). Индустриальным партнером выступает
        АО «Российские космические системы».
      </p>
      <p>
        «ИБИС» призван перенести огромный потенциал квантовых технологий, исследуемых
        во многих научно-исследовательских институтах по всему миру, в область
        практических применений, оказывающих влияние на нашу повседневную жизнь.
        Спутниковая навигация, исследование далекого космоса, детекторы для
        обнаружения изменения уровня мирового океана и подвижек земной коры &mdash;
        далеко не полный перечень возможных применений таких часов.
      </p>
      <dl class="list-features">
        <dt><i class="icon icon-compass"></i>Геопозиционирование</dt>
      	<dd>
      	  <p>
            Точность геопозиционирования, достигаемая с помощью существующих в
            данный момент глобальных навигационных систем, находится на уровне
            1 м. Радикальное повышение точности требует развития ключевых
            элементов этих систем &mdash; наземных и бортовых стандартов частоты.
          </p>
      	</dd>
        <dt><i class="icon icon-clock-o"></i>Стандарты частоты</dt>
      	<dd>
      	  <p>
            На сегодняшний день все существующие системы геопозиционирования
            используют радиочастотные стандарты частоты, работающие в
            микроволновом диапазоне. Радикальное повышение точности возможно
            при переводе их в оптический диапазон с помощью современных
            оптических стандартов частоты.
          </p>
      	</dd>
        <dt><i class="icon icon-check"></i>Иттербий</dt>
      	<dd>
      	  <p>
            Мировыми лидерами в области оптических стандартов частоты
            являются лабораторные образцы оптических часов на ионах иттербия,
            ионах алюминия, атомах иттербия и атомах стронция. В рамках проекта
            «ИБИС» были созданы транспортируемые оптические часов на одиночном
            ионе иттербия.
          </p>
      	</dd>
      </dl>

        <a href={{"/details" | prepend: page.lang | relative_url}}
        class="cta outline">
          Подробнее о проекте
        </a>
    </div>
    <!-- END #content-secondary -->
    <a href="#top" class="backtotop"><i class="icon icon-chevron-up"></i> Наверх</a>
  </div>
  <div role="complementary">
    <h1>Интересный факт</h1>
    <p id="fact">
      Если разрешить браузеру использование JavaScript на этой странице, то
      здесь появятся другие интересные факты
    </p>
  </div>
</div>
<div role="contentinfo">
  <div class="subfooter">
    <div class="container">
      <h1 class="visuallyhidden">Пусто</h1>
    </div>
  </div>
</div>
